body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.Home-component {
  background: url(./images/sf_image.jpg) no-repeat center center;
  background-size: cover;
  min-height: 600px;
  padding: 50px;
  padding-top: 600px;
  padding-bottom: 0;
  padding-left: 150px;
}

.Store-Button-component{
  height: 150px;
  width: 200px;
  margin:20px;
  color:blue
}

.Table-Button-component{
  height: 200px;
  width: 250px;
  margin:20px;
  
}

.Store-Title{
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate( -50%, -50% );
  text-align: center;
  color: Blue;
  font-weight: bold;
}

.Table-Delete-Button{
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate( -50%, -50% );
  text-align: center;
  color: Blue;
  font-weight: bold;
}

.Sell-Button{
  position: absolute;
  top: 60%;
  left: 65%;
  transform: translate( -50%, -50% );
  text-align: center;
  color: Blue;
  font-weight: bold;
}

.Buy-Button{
  position: absolute;
  top: 60%;
  left: 35%;
  transform: translate( -50%, -50% );
  text-align: center;
  color: Blue;
  font-weight: bold;
}

.Product-Display{
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate( -50%, -50% );
  text-align: center;
}

.product{
  position: relative;
  display: inline-block;
}

.Store-Link{
  position: relative;
  display: inline-block;
}

.Store-component {
  background: url(./images/store_inside.jpg) no-repeat center center;
  background-size: cover;
  min-height: 600px;
  padding: 50px;
  padding-top: 600px;
  padding-bottom: 0;
  padding-left: 150px;
}

